<nav>
  <img id="sidebar-logo" src="/assets/images/logo.png" alt="Jardim de Lior Logo" style="max-width: 100%; margin-bottom: 20px; cursor:pointer;">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %} data-icon="🏠">Home</a></li>
    <li><a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %} data-icon="ℹ️">About</a></li>
    <li><a href="/events/" {% if page.url == "/events/" %}class="active"{% endif %} data-icon="📅">Events</a></li>
    <li><a href="/gallery/" {% if page.url == "/gallery/" %}class="active"{% endif %} data-icon="🖼️">Gallery</a></li>
    <li><a href="/contact/" {% if page.url == "/contact/" %}class="active"{% endif %} data-icon="✉️">Contact</a></li>
    <li><a href="/members/" {% if page.url == "/members/" %}class="active"{% endif %} data-icon="👥">Members</a></li>
    <li><a href="/fundraisers/" {% if page.url == "/fundraisers/" %}class="active"{% endif %} data-icon="💰">Fundraisers</a></li>
    <li><a href="/projects/" {% if page.url == "/projects/" %}class="active"{% endif %} data-icon="📂">Projects</a></li>
    <li><a href="/gardens/" {% if page.url == "/gardens/" %}class="active"{% endif %} data-icon="🌿">Gardens</a></li>
    <li><a href="/spaces/" {% if page.url == "/spaces/" %}class="active"{% endif %} data-icon="🏞️">Spaces</a></li>
    <li><a href="/workshops/" {% if page.url == "/workshops/" %}class="active"{% endif %} data-icon="🛠️">Workshops</a></li>
    <li><a href="/activities/" {% if page.url == "/activities/" %}class="active"{% endif %} data-icon="🎯">Activities</a></li>
  </ul>
</nav>