<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>

    <div class="sidebar">
      {% include nav.html %}
    </div>

    <div class="main-content">
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    
    <script>
  const logo = document.getElementById('sidebar-logo');
  const sidebar = document.querySelector('.sidebar');

  logo.addEventListener('click', () => {
    sidebar.classList.toggle('collapsed');
  });
</script>

<a href="/about/" data-icon="🏡">About</a>

  </body>
</html>